# Build artifacts
*.obj
*.exe
*.pdb
*.ilk
*.iobj
*.ipdb
*.idb
*.recipe
*.log
*.tlog
*.lastbuildstate

# Build directories
.vs/
x64/
Debug/
Release/

# Python
.venv/
__pycache__/
*.pyc

# Profiling outputs
amduprof-*/
